@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.download-button:hover {
  background: linear-gradient(90deg, #a855f7, #9333ea);
  transform: translateY(-4px);
  box-shadow: 0px 10px 20px rgba(123, 58, 237, 0.7);
}
